<div class="container__client">
    <header>
        <div class="main__header container">
             <div class="contact">
                 <div class="telephone">
                     <i class="bi bi-telephone"></i><span> +261 34 00 000 00</span>
                 </div>
                 <div class="email">
                     <i class="bi bi-envelope"></i><span> eshoptsik@gmail.com</span>
                 </div>
             </div> 
             <div class="resaeau__sociaux">
                 <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                 <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                 <a href="https://twitter.com" target="_blank"><i class="bi bi-globe"></i></a>
                 <a href="https://www.linkedin.com" target="_top"><i class="bi bi-linkedin"></i></a>                                      
             </div>
        </div>  
    </header>
    <nav class="container">
         <div class="side__bar">
             <div class="side__left"> 
                 <a routerLink="/"><span>E-</span>ShopTsika</a>
                 <a href="">Femme</a>
                 <a href="">Homme</a>  
                 <a href="">Enfant</a>
                 <a href="">Sport</a>         
             </div>
             <div class="side__rigth">
                 <a href=""><i class="bi bi-heart"></i> Favorie</a>
                 <a href=""><i class="bi bi-cart"></i> Panier</a>
                 <a href=""><i class="bi bi-bag-fill"></i> Connexion</a>
             </div>
         </div> 
         <div>
 
         </div>  
    </nav>
    <main class="container container__main">
        <router-outlet></router-outlet>        
    </main>
 </div>